 @import 
 url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

html { font-size: 22px; }
body{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
body::after { 
  content:"";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -10;
  background-image: url(https://images.unsplash.com/photo-1531505791729-054361374207?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80);
  background-repeat: no-repeat;
  background-position: center center;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
 opacity: 0.6;
}
.col {
  color: white;
  padding: 1rem auto;
  width:100%;
}
.row {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  width:100%;
}
.drum-box{
  position: relative;
  width:270px;
  padding-left:20px;
  height:250px;
  margin: auto;
  padding:10px;
}
.drum-pad{
  display:inline-block;
  width: 70px;
  height:70px;
  margin:5px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color:#fff;
  background-color:#212121;
  overflow: hidden;
  border:none;
  transition: all 0.2s;
  border-radius: 5px;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
}
.drum-pad:hover {
  background-color: #f14e4e;
  border: none;
}


.header {
  padding: 50px;
  text-align:center;
  font-size: 2em;
  font-weight:bold;
  font-family: 'Anton', sans-serif;
  letter-spacing: 10px;
  color:#212121;
  text-shadow: 2px 2px 4px gray;
  
}

#display{
  margin: 0 auto;
  display: flex;
  width:250px;
  height: 230px;
  color:#222222;
  padding: 10px;
  align-items: center;
  justify-content:center;
  font-size: 2.2em;
  font-family: 'Lemonada', cursive;
  box-shadow: 5px 10px #212121;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height:auto;
  opacity:0.9;
}
@media (min-width: 712px) {
  .row { grid-template-columns: repeat(2, 1fr); }
  html, body {  height: 100%;}
  .header{ font-size:2.5em}
}
